
<div class="row">
    <div class="login col-md-4 col-md-offset-4" ng-controller="LoginController">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="pseudo" class="col-md-12">Вашае імя</label>
                <input type="text" id="pseudo" class="col-md-12" ng-model="pseudo">
            </div>
            <div class="form-group">
                <label for="identity" class="col-md-12">Вашая электронная пошта</label>
                <input type="email" id="identity" class="col-md-12" ng-model="identity">
            </div>
            <a href="#app" type="submit" class="btn btn-info col-md-12" ng-click="login()">Пачаць</a>
        </div>
    </div>
</div>
