<div class="row intro">
    <div class="col-md-12">
        <h4 class="text-center">Вітаем на Алкагольнай старонцы!</h4>
        <p class="text-justify">Тут вы можаце прыкладна разлічыць аб'ёмы ўжыванага алкаголю і вылічыць колькі праміле будзе знаходзіцца ў вашай крыві. Для гэтага ўвядзіце сваю вагу і колькасьць выпітага алкаголя якой якасьці. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptatem, ipsam impedit minus quis deserunt pariatur voluptate quam odit. Provident voluptatem totam veniam ipsum placeat doloremque modi perferendis reiciendis, mollitia sapiente recusandae, dolorum rem dolore molestiae quaerat at voluptas quis, qui dicta quod ducimus animi laborum doloribus, nesciunt! Voluptatum, porro.</p>
    </div>
</div>